BasedOnStyle: Google

SortIncludes: CaseInsensitive
IncludeCategories:
  - Regex:           '<(imgui|implot|SDL|GLFW|GL).*>'
    Priority:        2
  - Regex:           '<[[:alnum:]._]+>'
    Priority:        1
  - Regex:           '.*'
    Priority:        3
