name: Static analysis

on:
  push:
    branches: [ "main" ]
    paths: 
      - "src/**"
      - "examples/**"
      - "misc/cmake/**"
      - "CMakeLists.txt"
      - ".clang-tidy"
  pull_request:
    branches: [ "main" ]

env:
  BUILD_TYPE: Release

jobs:
  clang-tidy-check:
    runs-on: ubuntu-22.04
    steps:
    - uses: actions/checkout@v3
      with:
        submodules: true

    - name: Install prerequisites
      run: |
          sudo apt-get install -y libsdl2-dev libglfw3-dev

    - name: Configure CMake
      run: |
        cmake -B build \
          -DCMAKE_BUILD_TYPE=$BUILD_TYPE \
          -DCMAKE_EXPORT_COMPILE_COMMANDS=ON

    - name: Run clang-tidy
      run: |
        run-clang-tidy `pwd`/src `pwd`/examples \
          -p=build \
          -quiet \
          -header-filter=src \
          -export-fixes=fixes.yml

    - name: Check clang-tidy results
      run: |
        if [ -s fixes.yml ] ; then
          cat fixes.yml
          exit 1
        fi
